---
const { title, summary, link, image } = Astro.props;
---

<div class="news-item">
  <div class="image" style={`background-image: url(${image})`}></div>
  <div>
    <h2><a>{title}</a></h2>
    <p>{summary}</p>
  </div>
</div>
